@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC');

body {
  background-color: #263238;
}

#signInContainer {
  width: 100vw;
  height: 100vh;
}

.SignIn {
  width: 25rem;
  background-color: #00bcd4;
  border: 0;
  border-radius: 5px;
  color: white;
  display: block;
  margin: 1rem auto;
  padding: 20px;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.0.25s ease;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  opacity: 1 !important;
  cursor: pointer;
}
.SignIn:hover {
  filter: brightness(95%);
}

#button-container {
  text-align: center;
  background-color: rgba(3, 169, 244, 0.9);
  border-radius: 10px;
  padding: 2rem;
  position: absolute; 
  width: 50rem;
  height: 35rem;
  margin: -17.5rem 0 0 -25rem;
  left: 50%;
  top: 50%;
}

#title {
  background: -webkit-linear-gradient(left, #FF9800 , #FF5722);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 5em;
  margin-bottom: 4rem;
}

.icon-signin {
  margin-right: 2rem;   
  transform: scale(1.5);
}